:root {
  --background-color: #151515;
  --dark-accent-color: #301b3f;
  --light-accent-color: #3c415c;
  --text-color: #b4a5a5;
  --status-good: #0d4a27;
  --status-bad: #87221b;
  --last-rain: #0d4a27;
}
