.Dashboard {
  display: inline-block;
  border-style: solid;
  padding: 0.5em 1em;
  border-width: 0.1em;
  border-radius: 0.4em;
}

.DashboardButton {
  display: inline-block;
  font-size: 0.75em;
  font-weight: bold;
  padding: 0.5em 1em;
  margin: 0.25em;
  border-radius: 0.4em;
}

#statusLabel {
  text-align: center;
  font-weight: bold;
}

#lastRain {
  background-color: var(--last-rain);
}

#default {
  background-color: var(--status-good);
}

#up {
  background-color: var(--status-good);
}

#down {
  background-color: var(--status-bad);
}
